* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

header {
    font-size: 2.2em;
    font-weight: 800;
    background-color: white;
}

header img {
    width: 50px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

main .container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding-top: 20px;
    border-radius: 4px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    
}

.bottone {
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    padding: 5px 7px;
}

.bottone.add-task {
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}

.bottone.add-section {
    color: 
    #cbd1d5;
    border: 1px solid 
    #cbd1d5;
}

main hr {
    border: 1px solid #f6f8f9;
    margin: 10px -60px;
}

h3 {
    display: inline;
}

.section {
    margin-top: 30px;
}

.triangle {
    margin: 5px;
}

.triangle::before {
    content: '\25BE';
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
}

.circle.check {
    color: #73c8b5;
    font-size: 0.7em;
}

.circle.cross {
    color: red;
    font-size: 0.5em;
}

.line {
    margin: 10px 5px;
}


.button {
    color: white;
    font-size: 0.6em;
    display: inline-block;
    padding: 5px 7px;
    border-radius: 6px;
}

.button.editorial {
    background-color: #45abea;
}

.button.goals {
    background-color: #9c72e4;
}

.button.recruiting {
    background-color: #64c0a9;
}

.button.mobile {
    background-color: #f29e33;
}

.button.website {
    background-color: #d863a1;
}

.button.sales {
    background-color: #b0c926;
}